# Removendo duplicidades

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Produto': ['Macarrão', 'Arroz', 'Feijão', 'Carne', 'Pão', 'Óleo', 'Farinha', 'Arroz', 'Carne', 'Sabão em pó'],
    'Mogi-Mirim': [12000, 8000, 10450, 4589, 10450, 5400, 3235, 8000, 987, 14518],
    'Campinas': [784, 3459, 8453, 392, 934, 8500, 3835, 3459, 518, 1498],
    'São Paulo': [823, 6518, 870, 8918, 209, 7100, 7138, 6518, 163, 9183]
})

In [3]:
df

       Produto  Mogi-Mirim  Campinas  São Paulo
0     Macarrão       12000       784        823
1        Arroz        8000      3459       6518
2       Feijão       10450      8453        870
3        Carne        4589       392       8918
4          Pão       10450       934        209
5         Óleo        5400      8500       7100
6      Farinha        3235      3835       7138
7        Arroz        8000      3459       6518
8        Carne         987       518        163
9  Sabão em pó       14518      1498       9183

In [4]:
# Existem observações duplicadas?
df[df.duplicated(keep=False)]

  Produto  Mogi-Mirim  Campinas  São Paulo
1   Arroz        8000      3459       6518
7   Arroz        8000      3459       6518

In [5]:
# Remover uma das linhas
df.drop_duplicates(ignore_index=True, inplace=True)

In [6]:
df

       Produto  Mogi-Mirim  Campinas  São Paulo
0     Macarrão       12000       784        823
1        Arroz        8000      3459       6518
2       Feijão       10450      8453        870
3        Carne        4589       392       8918
4          Pão       10450       934        209
5         Óleo        5400      8500       7100
6      Farinha        3235      3835       7138
7        Carne         987       518        163
8  Sabão em pó       14518      1498       9183

In [7]:
# Agrupando por uma feature
df[df.duplicated(keep=False, subset='Produto')]

  Produto  Mogi-Mirim  Campinas  São Paulo
3   Carne        4589       392       8918
7   Carne         987       518        163