In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Nome': ['Lucas', 'Pedro', 'Maria', 'Paulo', 'Eliana'],
    'Sexo': ['masculino', 'masculino', 'feminino', 'masculino', 'feminino'],
    'Fumante': ['não', 'não', 'sim', 'não', 'sim'],
    'Idade': [16, 19, 23, 17, 32]
})

In [3]:
df

     Nome       Sexo Fumante  Idade
0   Lucas  masculino     não     16
1   Pedro  masculino     não     19
2   Maria   feminino     sim     23
3   Paulo  masculino     não     17
4  Eliana   feminino     sim     32

In [4]:
df['Sexo MF'] = df['Sexo'].map({'masculino':'M', 'feminino': 'F'})
df['Fumante 01'] = df['Fumante'].factorize()[0]
df['Idade para dirigir'] = df['Idade'] >= 18

In [5]:
df

     Nome       Sexo Fumante  Idade Sexo MF  Fumante 01  Idade para dirigir
0   Lucas  masculino     não     16       M           0               False
1   Pedro  masculino     não     19       M           0                True
2   Maria   feminino     sim     23       F           1                True
3   Paulo  masculino     não     17       M           0               False
4  Eliana   feminino     sim     32       F           1                True