# Separando nome e sobrenome

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Nome': ['Dayana Guedes', 'Camila Fernandes', 'Felipe Luiz Guimarães', 'Dayana Lima', 'Jander Guimarães', 'Paulo de Souza', 
                            'Suzilaine de Oliveira Guimarães', 'Marcos Paulo Filho', 'Oswaldo Neto', 'Gabriela Martins']
                  })

In [3]:
df

                              Nome
0                    Dayana Guedes
1                 Camila Fernandes
2            Felipe Luiz Guimarães
3                      Dayana Lima
4                 Jander Guimarães
5                   Paulo de Souza
6  Suzilaine de Oliveira Guimarães
7               Marcos Paulo Filho
8                     Oswaldo Neto
9                 Gabriela Martins

In [5]:
df['Primeiro Nome'] = df['Nome'].str.split(n=1).str[0]
df['Sobrenome'] = df['Nome'].str.split(n=1).str[1]

In [6]:
df

                              Nome Primeiro Nome              Sobrenome
0                    Dayana Guedes        Dayana                 Guedes
1                 Camila Fernandes        Camila              Fernandes
2            Felipe Luiz Guimarães        Felipe         Luiz Guimarães
3                      Dayana Lima        Dayana                   Lima
4                 Jander Guimarães        Jander              Guimarães
5                   Paulo de Souza         Paulo               de Souza
6  Suzilaine de Oliveira Guimarães     Suzilaine  de Oliveira Guimarães
7               Marcos Paulo Filho        Marcos            Paulo Filho
8                     Oswaldo Neto       Oswaldo                   Neto
9                 Gabriela Martins      Gabriela                Martins